/* General resets*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: sans-serif; 
  min-height: 100vh; /* Use min-height for body to allow content to grow */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add some padding to the body for very small screens */
}

.qr-card-container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  padding: 16px; /* Padding inside the card for content */
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08); /* A Subtle Shadow */
}

.qr-code {
  width: 100%; /* Make image fill its container's width */
  max-width: 280px; /* Max width for the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  margin-bottom: 24px;
}

h2 {
  font-size: 22px; 
  color: hsl(218, 44%, 22%);
  margin-bottom: 16px;
  line-height: 1.2; /* Improve readability */
  padding: 0 8px; /* Slight horizontal padding for text */
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400; 
  margin-bottom: 8px; 
  padding: 0 8px; /* Slight horizontal padding for text */
  padding-top: 15px;
}
